# Python In-class Exercise

### 1. Write a program to check whether an year entered by an user is leap year or not

In [1]:
year = int(input("Enter a year: "))

if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

Enter a year: 45
45 is not a leap year

### 2. Take a string containing punctuation marks as an input from user and write a program to remove all the  punctuation marks from a string

In [2]:
# We 1st need to define punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

# To take input from the user
my_str = str(input("Enter a string: "))

# To Remove punctuation from the string
no_punct = ""
for char in my_str:
   if char not in punctuations:
       no_punct = no_punct + char

# display the unpunctuated string
print(no_punct)

Enter a string: 545'5
5455

### 3. Take two separate numbers as input from the user and Write a program to swap 2 numbers without using temporary variable

In [3]:
N1 = int(input("Enter Number 01 :"))
N2 = int(input("Enter Number 02 :"))

print("Before swapping numbers: %d   %d\n" %(N1,N2))  
#swapping#  
N1 = N1 + N2     
N2 = N1 - N2    
N1 = N1 - N2     
print("After swapping: %d   %d\n"%(N1,N2))

Enter Number 01 :554
Enter Number 02 :54
Before swapping numbers: 554   54

After swapping: 54   554

### 4. Write a program to print product of following variables
<br> integer = 10 
<br> string = "15"

In [4]:
integer = 10
string = "15"
# convert string to number
numb= int(string)
#Definig the product of the variable
def prod(x,y): 
    prod=x*y
    return prod
prod(integer,numb)

150

### 5. Write a program to print following pattern
<br>a
<br>b c
<br>d e f
<br>g h i j
<br>k l m n o
<br>p q r s t u

In [5]:
# ASCII number of 'A'
ascii_number = 97
rows = 6
for i in range(0, rows):
    for j in range(0, i + 1):
        character = chr(ascii_number)
        print(character, end=' ')
        ascii_number += 1
    print(" ")

a
b c
d e f
g h i j
k l m n o
p q r s t u

### 6. Write a program to print tables from 2 to n, where n is provided by user

In [6]:
a=2
b=int(input("enter the number n:"))
i=1
while i<=b:
    print(a,"x",i,"=",a*i)
    i=i+1

enter the number n:44
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
2 x 13 = 26
2 x 14 = 28
2 x 15 = 30
2 x 16 = 32
2 x 17 = 34
2 x 18 = 36
2 x 19 = 38
2 x 20 = 40
2 x 21 = 42
2 x 22 = 44
2 x 23 = 46
2 x 24 = 48
2 x 25 = 50
2 x 26 = 52
2 x 27 = 54
2 x 28 = 56
2 x 29 = 58
2 x 30 = 60
2 x 31 = 62
2 x 32 = 64
2 x 33 = 66
2 x 34 = 68
2 x 35 = 70
2 x 36 = 72
2 x 37 = 74
2 x 38 = 76
2 x 39 = 78
2 x 40 = 80
2 x 41 = 82
2 x 42 = 84
2 x 43 = 86
2 x 44 = 88

### 7. Write a program to read height (in centimeters) from user and then convert it to feet and inches

In [7]:
Height=int(input("Enter the height in centimeter :"))
# Converting into feet and inches
inches=(0.393701*Height)
feet=(0.0328084*Height)
print("The length in inches",round(inches,2))
print("The length in feet",round(feet,2))

Enter the height in centimeter :45
The length in inches 17.72
The length in feet 1.48

### 8. Write a program to print following pattern

                                                *
                                                * * 
                                                * * *
                                                * *
                                                *

In [8]:
rows = 3
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* *
*

### 9. Below list contains age and name of five students. Convert the list into a dictionary such that the name is taken as key and the age before their name is taken as thier respective value in the dictionary

students = [26,'Jon',34,'Roger',13,'Jessica',24,'Monica',65,'Ashton']
Output: {'Jon':26, 'Roger':34, 'Jessica':13, 'Monica':24, 'Ashton':65}

In [9]:
students = [26,'Jon',34,'Roger',13,'Jessica',24,'Monica',65,'Ashton']
# Seperating int and string from list
from collections import defaultdict
d = defaultdict(list)
for x in students:
   d[type(x)].append(x)

print(d[int])
print(d[str])

Output = dict(zip(d[str],d[int]))
print("Output: ",Output)

[26, 34, 13, 24, 65]
['Jon', 'Roger', 'Jessica', 'Monica', 'Ashton']
Output:  {'Jon': 26, 'Roger': 34, 'Jessica': 13, 'Monica': 24, 'Ashton': 65}

### 10. Write a program to check whether two strings, taken from user, are anagram or not

In [10]:
str1 = str(input("Enter 1st string :"))
str2 = str(input("Enter 2nd string :"))

# convert both the strings into lowercase
str1 = str1.lower()
str2 = str2.lower()

# check if length is same
if(len(str1) == len(str2)):

    # sort the strings
    sorted_str1 = sorted(str1)
    sorted_str2 = sorted(str2)

    # if sorted char arrays are same
    if(sorted_str1 == sorted_str2):
        print(str1 + " and " + str2 + " are anagram.")
    else:
        print(str1 + " and " + str2 + " are not anagram.")

else:
    print(str1 + " and " + str2 + " are not anagram.")

Enter 1st string :hgfghf
Enter 2nd string :ghjg
hgfghf and ghjg are not anagram.

### 11. Write a program that sorts all the elements of the list according to the first letter, irrespective of their cases (uppercase or lowercase). Note: Do not use any inbuilt sorting function

### 12. Write a program that prints a list of sour fruits from the below tuple:
<br>fruits = (('Lemon','sour'), ('DragonFruit', 'Sweet'), ('Grapes','soUr'), ('Kiwi','Sour'), ('Apples','sweet'), ('Orange','sour'), ('Blueberries','sweet'), ('Limes','Sour') ) 

<br>**Output**: Sour Fruits: ['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']

In [11]:
fruits = (('Lemon','sour'), ('DragonFruit', 'Sweet'), ('Grapes','soUr'), ('Kiwi','Sour'), ('Apples','sweet'), ('Orange','sour'), ('Blueberries','sweet'), ('Limes','Sour') )

In [12]:
fruits.lower()

AttributeError: 'tuple' object has no attribute 'lower'

In [ ]:
set1=set(fruits)
for i in set1:
    i

### 13. Given below are the list of positive and negative words. Also a list of tweets is provided. Separate out the positive and negative comments

<br>positive = ['good','awesome', 'best', 'nice']

<br>negative = ['worst','awful', 'bad']

<br>tweets = ['This government policies are good', 
'bad implementation', 'The way he played showed that he is one of the best players in the world', 'Her acting in the play was awesome', 'The wine tastes awful', 'It's nice to hear this little kid's laugh']

In [ ]:
tweets = ['This government policies are good', 
'bad implementation', 'The way he played showed that he is one of the best players in the world', 'Her acting in the play was awesome', 'The wine tastes awful', "It's nice to hear this little kid's laugh"]

In [ ]:
positive = ['good','awesome', 'best', 'nice']

negative = ['worst','awful', 'bad']

In [ ]:
tweets=[]
def check_word(tweets):
    if positive in tweets:
        print("T")
    else: 
        if negative in tweets:
            print("w")
    return check_word

In [ ]:
check_word(tweets)

### 14. Write a program that performs multiplication of the following two matrix

X = [[1,2,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[1,8,1],
    [3,7,3],
    [4,5,9]]

In [ ]:
X = [[1,2,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[1,8,1],
    [3,7,3],
    [4,5,9]]

In [ ]:
result = np.dot(X,Y)
 
for r in result:
    print(r)

### 15. Write a program to remove space from keys of the given dictionary

Employee = {'emp 01' : 'Raj', 'emp 02' : 'Sheela', 'emp 0 3 ': 'Joseph'}; 

Output:
<br>New dictionary :  {'emp01': 'Raj', 'emp02': 'Sheela', 'emp03': 'Joseph'}

In [ ]:
Employee = {'emp 01' : 'Raj', 'emp 02' : 'Sheela', 'emp 0 3 ': 'Joseph'}

In [ ]:
Employee = {x.replace(' ', ''): v 
     for x, v in Employee.items()}
  
# printing new dictionary
print (" New dictionary : ", Employee)

### 16.  Write a program to display the subjects for which the scores are between 300 and 500 (inclusive) in the given dataframe

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Subject</th>
 <th>Score</th>
 </tr>
 <tr>
 <td>Maths</td>
 <td>345</td>
 </tr>
 <tr>
 <td>Physics</td>
 <td>432</td>
 </tr>
 <tr>
 <td>Chemistry</td>
 <td>456</td>
 </tr>
 <tr>
 <td>Biology</td>
 <td>234</td>
 </tr>
 <tr>
 <td>Geology</td>
 <td>254</td>
 </tr>
    
</table>

In [25]:
df6 = pd.read_excel(df3,'z')
df6

     Subject  Score
0      Maths    345
1    Physics    432
2  Chemistry    456
3    Biology    234
4    Geology    254

In [29]:
df6[(df6.Score>300)&(df6.Score<500)]

     Subject  Score
0      Maths    345
1    Physics    432
2  Chemistry    456

### 17. Write a program to find numbers between 10000 to 20000 from a given array

**Use the list given below:**

Sales = [1432,143223,2043332,1642357,54327,754338,12459,75435,224454,1433,12447,25532,86674,74338,12678]

In [ ]:
Sales =list([1432,143223,2043332,1642357,54327,754338,12459,75435,224454,1433,12447,25532,86674,74338,12678])

In [ ]:
def between(l1,low,high):
    l2 = []
    for i in l1:
        if(i > low and i < high):
            l2.append(i)
    return l2
print( between(Sales,10000,20000) )

### 18. Write a program to sort the dataframe by Rank (in ascending order)

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Name</th>
 <th>Rank</th>
 </tr>
 <tr>
 <td>Joy</td>
 <td>115</td>
 </tr>
 <tr>
 <td>Mia</td>
 <td>451</td>
 </tr>
 <tr>
 <td>Karan</td>
 <td>341</td>
 </tr>
 <tr>
 <td>Tom</td>
 <td>84</td>
 </tr>
    
</table>

In [ ]:
df5 = pd.read_excel(df3,'y')
df5

In [ ]:
df5.sort_values("Rank", inplace = True)
df5

### 19. Use the data given in the question 18, to do the following:
 Write a program to swap the 1st and 2nd row in a dataframe

In [ ]:
df5.reindex([1,0,2,3])

### 20. Write a program to replace 0 and 1 in Gender variable with M and F

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Id</th>
 <th>Name</th>
 <th>Age</th>
 <th>Gender</th>
 </tr>
 <tr>
 <td>1</td>
 <td>Mia</td>
 <td>47</td>
 <td>1 </td>
 </tr>
 <tr>
 <td>2</td>
 <td>Sara</td>
 <td>38</td>
 <td>1</td>
 </tr>
 <tr>
 <td>3</td>
 <td>Joy</td>
 <td>47</td>
 <td>0</td>
 </tr>
 <tr>
 <td>4</td>
 <td>Karan</td>
 <td>41</td>
 <td>0</td>
 </tr>
    
</table>

In [23]:
os.chdir(r"D:\Imarticus\Python Programming\In Class Exercise on Python Programming")
df3=pd.ExcelFile("In-class_exercise.xlsx")

In [24]:
df4 = pd.read_excel(df3,'x')
df4

   Id   Name  Age  Gender
0   1    Mia   47       1
1   2   Sara   38       1
2   3    Joy   47       0
3   4  Karan   41       0

In [ ]:
df4.Gender.replace({0:"M",1:"F"},inplace=True)
df4

### 21. Convert a 1D array to a 2D array containing 2 rows

**Use the array given below:**
    
dim_1 = ([331, 245, 246, 475, 348, 229])

In [ ]:
dim_1 = ([331, 245, 246, 475, 348, 229])
len(dim_1)

In [ ]:
arr = np. array(dim_1)
# Convert 1D array to a 2D numpy array of 2 rows and 3 columns.
arr_2d = np. reshape(arr, (2,3))
print(arr_2d)

### 22. Find the average cost of each variety of product available in the three different shops

**Use the data given below:**
    
[[10, 20, 30], [17, 14, 21], [25, 15, 12]],
  columns=['product_a', 'product_b', 'product_c'],
  index=['Shop1', 'Shop2', 'Shop3']

In [ ]:
# First Creating a DataFrame from the above given value
data={'product_a':[10, 20, 30],'product_b':[17, 14, 21],'product_c':[25, 15, 12]}
df=pd.DataFrame(data,index=['Shop1', 'Shop2', 'Shop3'])
df

### Or

In [ ]:
columns=['product_a', 'product_b', 'product_c']
Values=[[10, 20, 30], [17, 14, 21], [25, 15, 12]]

In [ ]:
data2= dict(zip(columns,Values))
data2

In [ ]:
df2=pd.DataFrame(data2,index=['Shop1', 'Shop2', 'Shop3'])
df2

In [ ]:
df.mean(axis=0)

### 23. Write a program to create a histogram using given data

**Use the list given below:**

weight = [34,56,43,22,2,58,89,78,67,56,65,43,23]

In [ ]:
import matplotlib.pyplot as plt

weight =[34,56,43,22,2,58,89,78,67,56,65,43,23]
n_bins = 20
plt.hist(weight,bins = n_bins)
plt.show()

### 24. Write a program to delete items from series_a that are present in series_b and print the updated series_a

**Use the series given below:**
    
series_a = ([11, 12, 13, 14, 15])<br>
series_b= ([14, 15, 16, 17, 18])

In [ ]:
series_a = ([11, 12, 13, 14, 15])
series_b= ([14, 15, 16, 17, 18])

In [ ]:
for i in series_a:
    if i in series_b:
        series_a.remove(i)
        series_b.remove(i)
        
print("Updates Series :",series_a)

### 25. Create a series of 40 random numbers and transform it into a dataframe containing seven columns and five rows

In [13]:
import pandas as pd
import numpy as np

In [ ]:
#using numpy's randint
df = pd.DataFrame(np.random.randint(0,40,size=(7, 5)), columns=list('ABCDE'))
df

### 26. Get common elements from the two arrays

**Use the array given below:**<br>
      
      test_a = np.array([11,12,13,22,23,44,43,24,45,36])
      test_b = np.array([17,22,13,22,47,34,39,44,29,28])

In [ ]:

a = np.array([11,12,13,22,23,44,43,24,45,36])
b = np.array([17,22,13,22,47,34,39,44,29,28])

def common_member(a, b):
    a_set = set(a)
    b_set = set(b)


    if (a_set & b_set):
        print(a_set & b_set)
    else:
            print("No common elements")

common_member(a, b)

### 27. Import dataset 'flights' from library seaborn. Check for datatypes of all variable.

In [ ]:
import seaborn as sb
df_s = sb.load_dataset('flights')
print("Flights from library seaborn","\n",df_s.head())
print("Datatypes of all variable.", '\n',df_s.dtypes)

### 28. Compute total sales for each product and country

**Use the dataframe given below:**
   
<table>
<tr>
<th>Product</th>
<th>Country</th>
<th>Sales</th>
</tr>
<tr>
<td>A</td>
<td>USA</td>
<td>44000</td>
</tr>
<tr>
<td>J</td>
<td>Japan</td>
<td>43000</td>
</tr>
<tr>
<td>A</td>
<td>Europe</td>
<td>54000</td>
</tr>
<tr>
<td>L</td>
<td>Japan</td>
<td>95600</td>
</tr>
<tr>
<td>R</td>
<td>Europe</td>
<td>79000</td>
</tr>
<tr>
<td>A</td>
<td>USA</td>
<td>67000</td>
</tr>
<tr>
<td>R</td>
<td>USA</td>
<td>68000</td>
</tr>
<tr>
<td>J</td>
<td>Japan</td>
<td>38000</td>
</tr>
<tr>
<td>L</td>
<td>USA</td>
<td>59000</td>
</tr>
<tr>
<td>A</td>
<td>Europe</td>
<td>60000</td>
</tr>
   
</table>

In [17]:
import os
os.chdir(r"D:\Imarticus\Python Programming\In Class Exercise on Python Programming")
import pandas as pd
df=pd.read_csv("In-class exercise.csv")
df

  Product Country  Sales
0       A     USA  44000
1       J   Japan  43000
2       A  Europe  54000
3       L   Japan  95600
4       R  Europe  79000
5       A     USA  67000
6       R     USA  68000
7       J   Japan  38000
8       L     USA  59000
9       A  Europe  60000

In [ ]:
df_Product=pd.DataFrame(df.groupby(["Product","Country"])['Sales'].agg('sum'))
df_Product

In [ ]:
df_Country=pd.DataFrame(df.groupby(['Country'])['Sales'].agg('sum'))
df_Country

### 29. Get the descriptive statistics of the sales for each Country

In [ ]:
df.groupby(["Country"])["Sales"].describe()

### 30. Reverse each of the rows of the 2D array

**Use the array given below:**<br>

    num_array = np.arange(20).reshape(4,5)

In [ ]:
import numpy as np
num_array = np.arange(20).reshape(4,5)
num_array

In [ ]:
reversedArr = np.flip(num_array)
reversedArr

In [ ]:
reversedArr1 = np.flip(num_array,axis=0)
reversedArr1

In [ ]:
reversedArr1 = np.flip(num_array,axis=1)
reversedArr1